* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  
  
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

}

.layout {
  /* min-height: 100vh; */
  flex: 1 0 auto;
  margin:20px;
  padding: 20px;
  display:flex;
  justify-content: center;
  align-items: stretch;

  /* box-shadow:  2px 3px #b7b1ac */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
