* {
  box-sizing: border-box;
}
/* html,
body {
  height: 100%;
} */
body {
  height: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.layout {
  /* min-height: 80vh; */
  /* flex: 2 0 auto; */
  flex: 1 ;
 
}
.push{

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
