* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin:0;
}
body {
  
  
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
}


.layout {
  flex: 1 0 auto;
   /* min-height: 100vh; */
  

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
