<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    .body {
      background-color: #F1EFEE;
      padding: 25px;
      font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;

    }


    .button {
      background-color: #725744;
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-weight: 600;
      line-height: 150%;


    }

    .mainContainer {
      background-color: white;
      width: 45%;
      text-align: center;
      padding: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;

    }
  </style>

</head>

<body class="body">

  <center class="mainContainer">


    <h3>Hello {{first_name}}</h3>

    <p>
      We would like to thank you for choosing Cedar House,and we hope you enjoyed your stay
    </p>
    <p>
      As you know your feedback is essential to help us undrstand your expectations.
    </p>
    <p>
      Thank you for taking the time to fill in the survey.
    </p>

    <a href="http://localhost:3002/api/survey/{{sentSurveyId}}">
      <button class='button'>Start the Survey</button>
    </a>
    <center />

</body>

</html>


<td align="center"
  style="font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;padding-right:40px;padding-left:40px;width:335px;line-height:20px;padding-top:12px">
  Please click the button below to confirm your email address and add a password so you can always access your account
  on all of your devices.
</td>