.footer {
  flex-shrink: 0;
 
  background-color: #735742ff;
  color: #ffffff;
  padding: 20px 20px 0px 20px;
}
 
.footer .footer-content-row{
  justify-content: space-between;
}
.footer .social-col{
  max-width: 45%;
}

.footer .social-icons{
    justify-content: space-evenly;
}
.footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 35%;;
}

.footer a {
  text-decoration: none;
  color:#ffffff;
  margin: 10px;
 
}
.footer .icons-link{
  max-width: 46px;
  
}

.footer a:hover {
  color: #ffffff;
}

.footer .links ul {
  list-style-type: none;
}

.footer .fab {
  margin: 10px;
  color: #735742ff;
  border: 15px solid white;
  background-color: #ffffff;
  border-radius: 50%;
}

.footer .fab:hover {
  box-shadow: 2px 3px 0px 0px #254a4c99;
  border: 15px solid white;
}

.footer .fa-facebook-f{
  width: 47px;
  height: 47px;
  border: 15px solid white;
  background-color: #ffffff;
  border-radius: 50%;
}

.footer .copyRight {
  font-size: 12px;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (max-width: 926px) {

 .footer .footer-content-row{
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .footer .links{
   max-width: 100%;
   justify-content: center;

 }
 .footer .social-col{
  max-width: 100%;
}
.footer .social-icons{
  justify-content: center;
}
}

@media only screen and (max-width: 454px) {
 
  
  .footer .links{
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  
 .footer .social-icons{
  align-items: center;
    justify-content: center;
 }
 }
