/* CSS Styles for message dialog component */

.dialog-msg {
	background-color: #fd00004f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	padding: 5px;
	border-radius: 10px;
	margin: 10px;
	box-shadow: 1px 1px 2px grey;
}

.dialog-msg p {
	padding-top: 5px;
}
