/* CSS Styles for RadioInput component */
article.radio-q {
  margin: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 2;
}

label.radio-label {
  margin-left: 25px;
}

.hidden-q{
  display:none;
}

#follow-up{
  order: 2;
}

/* .radio-q::after{
  display: none;
  content: " Required";
  color: red;
} */