/*CSS Styles for RangeInput */

.range-q {
  margin: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.range-group-btn{
  width:100%;
  padding: 16px;
}
.range-btn-row{
  display:flex;
  width:100%;
  justify-content: space-between;
}

.range-btn{
  border: 1px solid #735742ff;
  flex-grow: 1;
  margin:5px;
}
.range-btn:not(:disabled):not(.disabled):active {
  background-color: #b1a096;;
}

 .selected,.selected:focus ,.selected:not(:disabled):not(.disabled):active,.selected:disabled{

  border: 1px solid #735742ff;
  box-shadow: 2px 3px 2px 0 #b1a096;
  flex-grow: 2;
  margin:5px;
  background-color: #254A4Cff;
  color: white;
  
}

.range-btn-row .range-btn{
  border: 2px solid #735742ff;
  /* margin: 10px; */
}

.range-btn-row .range-btn:hover{
  background-color: #DBCCC2;
}