/* CSS Styles for TextInput component */

.comments-txtarea{
  margin-top:25px;
  margin-bottom: 75px;
  padding:10px;
}
.text-comment{
  width:95%;
  border:1px solid #735742ff;
}

.text-comment:focus{
  border:2px solid #254f50;
  /* border-color:  */
  box-shadow: 0 2px 5px 0rem #b1a096;
}


  
  


